:root {
    --grey: #d7d7d7;
    --purple: #6c5978;
    --orange: #ff9f31;
    --yellow: #f3b65c;
    --dark-grey: #403d39;
    --day: #9ec8db;
}

body {
    background: var(--day);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

body.checked {
    background: var(--purple);
    transition: 1s;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    height: 80px;
    width: 180px;
    background: #fff;
    border-radius: 80px;
    position: relative;
    transition: 1s;
}

input[type="checkbox"]::before {
    content: '';
    height: 65px;
    width: 65px;
    background-color: var(--yellow);
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 50px;
    transition: 1s;
}



input:checked[type="checkbox"]::before {
    content: '';
    height: 65px;
    width: 65px;
    background-color: var(--grey);
    position: absolute;
    top: 7px;
    left: 106px;
    border-radius: 50px;
    transition: 1s;
}