:root {
    --grey: #e5e5e5;
    --blue: #14213d;
    --orange: #fca311;
    --dark-grey: #403d39;
    --day: #a8dadc;
}

body {
    background: var(--blue);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    height: 80px;
    width: 180px;
    background: var(--day);
    border: 5px solid black;
    border-radius: 80px;
    position: relative;
    transition: 1s;
}

input:checked[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    height: 80px;
    width: 180px;
    background: var(--dark-grey);
    border: 5px solid black;
    border-radius: 80px;
    position: relative;
    transition: 1s;
}

input[type="checkbox"]::before {
    content: '';
    height: 60px;
    width: 60px;
    background-color: var(--orange);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    transition: 1s;
}


input:checked[type="checkbox"]::before {
    content: '';
    height: 60px;
    width: 60px;
    background-color: var(--grey);
    position: absolute;
    top: 5px;
    left: 105px;
    border-radius: 50px;
    transition: 1s;
}